**DATA CLEANING**

**LOADING DATA**

In [97]:
import pandas as pd
df = pd.read_csv(r"C:\Users\User\Desktop\Data Analyst projects Projects others\NYC+Accidents+2020.csv\NYC Accidents 2020.csv")
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2020-08-29,15:40:00,BRONX,10466.0,40.89210,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4342908,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.69050,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,Unspecified,NaN,NaN,NaN,4343555,Sedan,Sedan,NaN,NaN,NaN
2,2020-08-29,18:20:00,NaN,NaN,40.81650,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4343142,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.82472,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Motorcycle,NaN
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.64989,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,Unspecified,NaN,NaN,NaN,4342953,Sedan,Sedan,NaN,NaN,NaN

In [98]:
#Removing Unwanted Vehicle code 1,3,4,5
#df.head()
#df.drop(columns =["VEHICLE TYPE CODE 1","VEHICLE TYPE CODE 3" , "VEHICLE TYPE CODE 4", "VEHICLE TYPE CODE 5"], inplace = True)
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 2
0,2020-08-29,15:40:00,BRONX,10466.0,40.89210,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,0,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4342908,Station Wagon/Sport Utility Vehicle
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.69050,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,0,2,0,Reaction to Uninvolved Vehicle,Unspecified,NaN,NaN,NaN,4343555,Sedan
2,2020-08-29,18:20:00,NaN,NaN,40.81650,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,0,0,0,Backing Unsafely,NaN,NaN,NaN,NaN,4343142,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.82472,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,0,0,0,Unsafe Speed,Unspecified,Unspecified,Unspecified,NaN,4343588,Station Wagon/Sport Utility Vehicle
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.64989,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,0,0,0,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN,4342953,Sedan

**Removing vehocle contributing Factor 2,3,4,5**

In [99]:
#Removing vehocle contributing Factor 2,3,4,5
#df.drop(columns = ["CONTRIBUTING FACTOR VEHICLE 2","CONTRIBUTING FACTOR VEHICLE 3","CONTRIBUTING FACTOR VEHICLE 4","CONTRIBUTING FACTOR VEHICLE 5"], inplace = True)
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,COLLISION_ID,VEHICLE TYPE CODE 2
0,2020-08-29,15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,0,0,0,0,0,0,0,Passing Too Closely,4342908,Station Wagon/Sport Utility Vehicle
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,4343555,Sedan
2,2020-08-29,18:20:00,NaN,NaN,40.816500,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,0,1,0,0,0,0,0,Backing Unsafely,4343142,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,0,0,0,0,0,0,0,Unsafe Speed,4343588,Station Wagon/Sport Utility Vehicle
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4342953,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01,15:13:00,BRONX,10459.0,40.826810,-73.896510,POINT (-73.89651 40.82681),NaN,NaN,1122 INTERVALE AVENUE,...,0,0,0,0,0,0,0,Unspecified,4268088,NaN
74877,2020-01-01,08:00:00,BROOKLYN,11235.0,40.582935,-73.959210,POINT (-73.95921 40.582935),NaN,NaN,3401 GUIDER AVENUE,...,0,0,0,0,0,0,0,Passing Too Closely,4267756,Station Wagon/Sport Utility Vehicle
74878,2020-01-01,11:36:00,BRONX,10461.0,40.848553,-73.830055,POINT (-73.830055 40.848553),NaN,NaN,1810 MAHAN AVENUE,...,0,0,0,0,0,0,0,Unspecified,4269230,Pick-up Truck
74879,2020-01-01,01:45:00,MANHATTAN,10017.0,40.753624,-73.969440,POINT (-73.96944 40.753624),EAST 48 STREET,2 AVENUE,NaN,...,0,0,0,0,0,0,0,Passing or Lane Usage Improper,4267482,Taxi
74880,2020-01-01,18:00:00,QUEENS,11367.0,40.726875,-73.830960,POINT (-73.83096 40.726875),NaN,NaN,70-25 PARK DRIVE EAST,...,0,0,0,0,0,2,0,Backing Unsafely,4268376,Station Wagon/Sport Utility Vehicle

**splitting  the VEHICLE TYPE CODE 2 column into Vehicle Type,Vehicle Category**

In [100]:
df[["Vehicle Type","Vehicle Category"]]=df["VEHICLE TYPE CODE 2"].str.split("/", n=1, expand=True)
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,COLLISION_ID,VEHICLE TYPE CODE 2,Vehicle Type,Vehicle Category
0,2020-08-29,15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,STRANG AVENUE,NaN,...,0,0,0,0,0,Passing Too Closely,4342908,Station Wagon/Sport Utility Vehicle,Station Wagon,Sport Utility Vehicle
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,PALMETTO STREET,NaN,...,0,0,0,2,0,Reaction to Uninvolved Vehicle,4343555,Sedan,Sedan,NaN
2,2020-08-29,18:20:00,NaN,NaN,40.816500,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,NaN,NaN,...,0,0,0,0,0,Backing Unsafely,4343142,NaN,NaN,NaN
3,2020-08-29,00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,NaN,1047 SIMPSON STREET,...,0,0,0,0,0,Unsafe Speed,4343588,Station Wagon/Sport Utility Vehicle,Station Wagon,Sport Utility Vehicle
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,NaN,4609 SNYDER AVENUE,...,0,0,0,0,0,Failure to Yield Right-of-Way,4342953,Sedan,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01,15:13:00,BRONX,10459.0,40.826810,-73.896510,POINT (-73.89651 40.82681),NaN,NaN,1122 INTERVALE AVENUE,...,0,0,0,0,0,Unspecified,4268088,NaN,NaN,NaN
74877,2020-01-01,08:00:00,BROOKLYN,11235.0,40.582935,-73.959210,POINT (-73.95921 40.582935),NaN,NaN,3401 GUIDER AVENUE,...,0,0,0,0,0,Passing Too Closely,4267756,Station Wagon/Sport Utility Vehicle,Station Wagon,Sport Utility Vehicle
74878,2020-01-01,11:36:00,BRONX,10461.0,40.848553,-73.830055,POINT (-73.830055 40.848553),NaN,NaN,1810 MAHAN AVENUE,...,0,0,0,0,0,Unspecified,4269230,Pick-up Truck,Pick-up Truck,NaN
74879,2020-01-01,01:45:00,MANHATTAN,10017.0,40.753624,-73.969440,POINT (-73.96944 40.753624),EAST 48 STREET,2 AVENUE,NaN,...,0,0,0,0,0,Passing or Lane Usage Improper,4267482,Taxi,Taxi,NaN
74880,2020-01-01,18:00:00,QUEENS,11367.0,40.726875,-73.830960,POINT (-73.83096 40.726875),NaN,NaN,70-25 PARK DRIVE EAST,...,0,0,0,2,0,Backing Unsafely,4268376,Station Wagon/Sport Utility Vehicle,Station Wagon,Sport Utility Vehicle

**Filling Null values with Unknown**

In [101]:
cols = ["VEHICLE TYPE CODE 2", "Vehicle Type", "Vehicle Category"]
df[cols]=df[cols].fillna("Unknown")
df.drop(columns="VEHICLE TYPE CODE 2",inplace = True)
df.drop(columns = ["CROSS STREET NAME","OFF STREET NAME"], inplace =  True)
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,COLLISION_ID,Vehicle Type,Vehicle Category
0,2020-08-29,15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,0,0,0,0,0,0,0,0,Passing Too Closely,4342908,Station Wagon,Sport Utility Vehicle
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,4343555,Sedan,Unknown
2,2020-08-29,18:20:00,NaN,NaN,40.816500,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,1,0,1,0,0,0,0,0,Backing Unsafely,4343142,Unknown,Unknown
3,2020-08-29,00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,0,0,0,0,0,0,0,0,Unsafe Speed,4343588,Station Wagon,Sport Utility Vehicle
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4342953,Sedan,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01,15:13:00,BRONX,10459.0,40.826810,-73.896510,POINT (-73.89651 40.82681),NaN,0,0,0,0,0,0,0,0,Unspecified,4268088,Unknown,Unknown
74877,2020-01-01,08:00:00,BROOKLYN,11235.0,40.582935,-73.959210,POINT (-73.95921 40.582935),NaN,0,0,0,0,0,0,0,0,Passing Too Closely,4267756,Station Wagon,Sport Utility Vehicle
74878,2020-01-01,11:36:00,BRONX,10461.0,40.848553,-73.830055,POINT (-73.830055 40.848553),NaN,0,0,0,0,0,0,0,0,Unspecified,4269230,Pick-up Truck,Unknown
74879,2020-01-01,01:45:00,MANHATTAN,10017.0,40.753624,-73.969440,POINT (-73.96944 40.753624),EAST 48 STREET,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,4267482,Taxi,Unknown
74880,2020-01-01,18:00:00,QUEENS,11367.0,40.726875,-73.830960,POINT (-73.83096 40.726875),NaN,2,0,0,0,0,0,2,0,Backing Unsafely,4268376,Station Wagon,Sport Utility Vehicle

In [108]:
df.rename({
    "ON STREET NAME": "Street Name",
    "NUMBER OF PERSONS INJURED": "Persons Injured",
    "NUMBER OF PERSONS KILLED": "Persons Killed",
    "NUMBER OF PEDESTRIANS INJURED": "Pedestrians Injured",
    "NUMBER OF PEDESTRIANS KILLED": "Pedestrians Killed",
    "NUMBER OF CYCLIST INJURED": "Cyclist Injured",
    "NUMBER OF MOTORIST INJURED": "Motorist Injured",
    "NUMBER OF MOTORIST KILLED": "Motorist Killed",
    "NUMBER OF CYCLIST KILLED": "Cyclist Killed",
    "CONTRIBUTING FACTOR VEHICLE 1":"Factor",
    "COLLISION_ID": "Collision_Id",
    "CRASH DATE":"Crash Date",
    "CRASH TIME":"Crash Time",
    "BOROUGH":"Borough",
    "ZIP CODE":"Zip Code"
}, axis=1, inplace=True)
df

,Crash Date,Crash Time,Borough,Zip Code,LATITUDE,LONGITUDE,LOCATION,Street Name,Persons Injured,Persons Killed,Pedestrians Injured,Pedestrians Killed,Cyclist Injured,Cyclist Killed,Motorist Injured,Motorist Killed,Factor,Collision_Id,Vehicle Type,Vehicle Category
0,2020-08-29,15:40:00,BRONX,10466.0,40.892100,-73.833760,POINT (-73.83376 40.8921),PRATT AVENUE,0,0,0,0,0,0,0,0,Passing Too Closely,4342908,Station Wagon,Sport Utility Vehicle
1,2020-08-29,21:00:00,BROOKLYN,11221.0,40.690500,-73.919914,POINT (-73.919914 40.6905),BUSHWICK AVENUE,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,4343555,Sedan,Unknown
2,2020-08-29,18:20:00,NaN,NaN,40.816500,-73.946556,POINT (-73.946556 40.8165),8 AVENUE,1,0,1,0,0,0,0,0,Backing Unsafely,4343142,Unknown,Unknown
3,2020-08-29,00:00:00,BRONX,10459.0,40.824720,-73.892960,POINT (-73.89296 40.82472),NaN,0,0,0,0,0,0,0,0,Unsafe Speed,4343588,Station Wagon,Sport Utility Vehicle
4,2020-08-29,17:10:00,BROOKLYN,11203.0,40.649890,-73.933890,POINT (-73.93389 40.64989),NaN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4342953,Sedan,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01,15:13:00,BRONX,10459.0,40.826810,-73.896510,POINT (-73.89651 40.82681),NaN,0,0,0,0,0,0,0,0,Unspecified,4268088,Unknown,Unknown
74877,2020-01-01,08:00:00,BROOKLYN,11235.0,40.582935,-73.959210,POINT (-73.95921 40.582935),NaN,0,0,0,0,0,0,0,0,Passing Too Closely,4267756,Station Wagon,Sport Utility Vehicle
74878,2020-01-01,11:36:00,BRONX,10461.0,40.848553,-73.830055,POINT (-73.830055 40.848553),NaN,0,0,0,0,0,0,0,0,Unspecified,4269230,Pick-up Truck,Unknown
74879,2020-01-01,01:45:00,MANHATTAN,10017.0,40.753624,-73.969440,POINT (-73.96944 40.753624),EAST 48 STREET,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,4267482,Taxi,Unknown
74880,2020-01-01,18:00:00,QUEENS,11367.0,40.726875,-73.830960,POINT (-73.83096 40.726875),NaN,2,0,0,0,0,0,2,0,Backing Unsafely,4268376,Station Wagon,Sport Utility Vehicle

In [122]:
#df.drop(columns = ["Zip Code","LATITUDE","LONGITUDE","LOCATION","Street Name"],inplace = True)
#df.drop(columns = "Street Name",inplace = True)
df

,Crash Date,Crash Time,Borough,Persons Injured,Persons Killed,Pedestrians Injured,Pedestrians Killed,Cyclist Injured,Cyclist Killed,Motorist Injured,Motorist Killed,Factor,Collision_Id,Vehicle Type,Vehicle Category
0,2020-08-29,15:40:00,BRONX,0,0,0,0,0,0,0,0,Passing Too Closely,4342908,Station Wagon,Sport Utility Vehicle
1,2020-08-29,21:00:00,BROOKLYN,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,4343555,Sedan,Unknown
2,2020-08-29,18:20:00,NaN,1,0,1,0,0,0,0,0,Backing Unsafely,4343142,Unknown,Unknown
3,2020-08-29,00:00:00,BRONX,0,0,0,0,0,0,0,0,Unsafe Speed,4343588,Station Wagon,Sport Utility Vehicle
4,2020-08-29,17:10:00,BROOKLYN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4342953,Sedan,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01,15:13:00,BRONX,0,0,0,0,0,0,0,0,Unspecified,4268088,Unknown,Unknown
74877,2020-01-01,08:00:00,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,4267756,Station Wagon,Sport Utility Vehicle
74878,2020-01-01,11:36:00,BRONX,0,0,0,0,0,0,0,0,Unspecified,4269230,Pick-up Truck,Unknown
74879,2020-01-01,01:45:00,MANHATTAN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,4267482,Taxi,Unknown
74880,2020-01-01,18:00:00,QUEENS,2,0,0,0,0,0,2,0,Backing Unsafely,4268376,Station Wagon,Sport Utility Vehicle

In [133]:
#df["Crash Date"] = pd.to_datetime(df["Crash Date"])
#df["Month Crash"] = df["Crash Date"].dt.strftime("%b")
#df["Day Crash"] = df["Crash Date"].dt.strftime("%a")
#df["Year"] = df["Crash Date"].dt.year
df

,Crash Date,Crash Time,Borough,Persons Injured,Persons Killed,Pedestrians Injured,Pedestrians Killed,Cyclist Injured,Cyclist Killed,Motorist Injured,Motorist Killed,Factor,Collision_Id,Vehicle Type,Vehicle Category,Month Crash,Day Crash,Year
0,2020-08-29,15:40:00,BRONX,0,0,0,0,0,0,0,0,Passing Too Closely,4342908,Station Wagon,Sport Utility Vehicle,Aug,Sat,2020
1,2020-08-29,21:00:00,BROOKLYN,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,4343555,Sedan,Unknown,Aug,Sat,2020
2,2020-08-29,18:20:00,NaN,1,0,1,0,0,0,0,0,Backing Unsafely,4343142,Unknown,Unknown,Aug,Sat,2020
3,2020-08-29,00:00:00,BRONX,0,0,0,0,0,0,0,0,Unsafe Speed,4343588,Station Wagon,Sport Utility Vehicle,Aug,Sat,2020
4,2020-08-29,17:10:00,BROOKLYN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4342953,Sedan,Unknown,Aug,Sat,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01,15:13:00,BRONX,0,0,0,0,0,0,0,0,Unspecified,4268088,Unknown,Unknown,Jan,Wed,2020
74877,2020-01-01,08:00:00,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,4267756,Station Wagon,Sport Utility Vehicle,Jan,Wed,2020
74878,2020-01-01,11:36:00,BRONX,0,0,0,0,0,0,0,0,Unspecified,4269230,Pick-up Truck,Unknown,Jan,Wed,2020
74879,2020-01-01,01:45:00,MANHATTAN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,4267482,Taxi,Unknown,Jan,Wed,2020
74880,2020-01-01,18:00:00,QUEENS,2,0,0,0,0,0,2,0,Backing Unsafely,4268376,Station Wagon,Sport Utility Vehicle,Jan,Wed,2020

In [137]:
#df["Crash Time"] = pd.to_datetime(df["Crash Time"]).dt.hour
df

,Crash Date,Crash Time,Borough,Persons Injured,Persons Killed,Pedestrians Injured,Pedestrians Killed,Cyclist Injured,Cyclist Killed,Motorist Injured,Motorist Killed,Factor,Collision_Id,Vehicle Type,Vehicle Category,Month Crash,Day Crash,Year
0,2020-08-29,15,BRONX,0,0,0,0,0,0,0,0,Passing Too Closely,4342908,Station Wagon,Sport Utility Vehicle,Aug,Sat,2020
1,2020-08-29,21,BROOKLYN,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,4343555,Sedan,Unknown,Aug,Sat,2020
2,2020-08-29,18,NaN,1,0,1,0,0,0,0,0,Backing Unsafely,4343142,Unknown,Unknown,Aug,Sat,2020
3,2020-08-29,0,BRONX,0,0,0,0,0,0,0,0,Unsafe Speed,4343588,Station Wagon,Sport Utility Vehicle,Aug,Sat,2020
4,2020-08-29,17,BROOKLYN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4342953,Sedan,Unknown,Aug,Sat,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01,15,BRONX,0,0,0,0,0,0,0,0,Unspecified,4268088,Unknown,Unknown,Jan,Wed,2020
74877,2020-01-01,8,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,4267756,Station Wagon,Sport Utility Vehicle,Jan,Wed,2020
74878,2020-01-01,11,BRONX,0,0,0,0,0,0,0,0,Unspecified,4269230,Pick-up Truck,Unknown,Jan,Wed,2020
74879,2020-01-01,1,MANHATTAN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,4267482,Taxi,Unknown,Jan,Wed,2020
74880,2020-01-01,18,QUEENS,2,0,0,0,0,0,2,0,Backing Unsafely,4268376,Station Wagon,Sport Utility Vehicle,Jan,Wed,2020

In [159]:
#df["Borough"] = df["Borough"].fillna("Unknown")
#df[df.duplicated()]
#df.drop_duplicates(inplace = True)
#df.dropna()
df["Factor"].dropna(inplace = True)
df

,Crash Date,Crash Time,Borough,Persons Injured,Persons Killed,Pedestrians Injured,Pedestrians Killed,Cyclist Injured,Cyclist Killed,Motorist Injured,Motorist Killed,Factor,Collision_Id,Vehicle Type,Vehicle Category,Month Crash,Day Crash,Year
0,2020-08-29,15,BRONX,0,0,0,0,0,0,0,0,Passing Too Closely,4342908,Station Wagon,Sport Utility Vehicle,Aug,Sat,2020
1,2020-08-29,21,BROOKLYN,2,0,0,0,0,0,2,0,Reaction to Uninvolved Vehicle,4343555,Sedan,Unknown,Aug,Sat,2020
2,2020-08-29,18,Unknown,1,0,1,0,0,0,0,0,Backing Unsafely,4343142,Unknown,Unknown,Aug,Sat,2020
3,2020-08-29,0,BRONX,0,0,0,0,0,0,0,0,Unsafe Speed,4343588,Station Wagon,Sport Utility Vehicle,Aug,Sat,2020
4,2020-08-29,17,BROOKLYN,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,4342953,Sedan,Unknown,Aug,Sat,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74876,2020-01-01,15,BRONX,0,0,0,0,0,0,0,0,Unspecified,4268088,Unknown,Unknown,Jan,Wed,2020
74877,2020-01-01,8,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,4267756,Station Wagon,Sport Utility Vehicle,Jan,Wed,2020
74878,2020-01-01,11,BRONX,0,0,0,0,0,0,0,0,Unspecified,4269230,Pick-up Truck,Unknown,Jan,Wed,2020
74879,2020-01-01,1,MANHATTAN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,4267482,Taxi,Unknown,Jan,Wed,2020
74880,2020-01-01,18,QUEENS,2,0,0,0,0,0,2,0,Backing Unsafely,4268376,Station Wagon,Sport Utility Vehicle,Jan,Wed,2020

In [160]:
df.to_csv("Accidents_2.csv", index = False)